/* body {
    background-color: #FFCC00;
} */




#form {
    font-family: 'Source Sans Pro', sans-serif;
    width: 500px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #333333;
    border-radius: 10px;
    padding: 20px;
}

#form label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#form input[type="text"] {
    width: 70%;
    height: 30px;
    font-size: 16px;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 20px;
}

#form button[type="submit"] {
    width: 30%;
    height: 30px;
    font-size: 18px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
}

#form button[type="submit"]:hover {
    background-color: #666666;
}

#output {
    margin: 20px 0;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid #333333;
    border-radius: 10px;
    padding: 20px;

}

th {
    text-align: left;
    background-color: #333333;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid #333333;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

map {
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* * {
    color: #D40511;
} */
